<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Table tag here</h1>
    <section>
        <div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>Comapany</th>
            <th>Location</th>
        </tr>
        <tr>
        <td>karthi</td>
        <td>23</td>
        <td>developer</td>
        <td>20000</td>
        <td>cgi</td>
        <td>Bangalore</td>
        </tr>
        <tr>
            <td>Arun</td>
            <td>24</td>
            <td>Tech Support</td>
            <td>30000</td>
            <td>ibm</td>
            <td>Coimbatore</td>
        </tr>
        <tr>
            <td>priyakumar</td>
            <td>38</td>
            <td>asscociate</td>
            <td>25000</td>
            <td>ust global</td>
            <td>Chennai</td>
        </tr>
        </thead>
    </div>
    </table>
    </section>
</body>
</html>